body {
  margin: auto;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 3.4em;
  background-image: url(http://imagesci.com/img/2013/12/blue-abstract-background-3439-hd-wallpapers.jpg);
  border: 5px solid black;
  width: 40%;


}

input {
  width: 250px;
  height: 50px;
  font-size: .8em;
  text-align: center;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;

}

#addBtn:hover {
  background-color: gray;
}

#subtractBtn:hover {
  background-color: gray;
}

#multiplyBtn:hover {
  background-color: gray;
}

#divideBtn:hover {
  background-color: gray;
}















