body {
  margin: auto;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 2.3em;
  background-image: url(http://imagesci.com/img/2013/12/blue-abstract-background-3439-hd-wallpapers.jpg);
  border: 5px solid black;
  width: 300px;

}

#calculateBtn {
  font-family: 'Amatic SC', cursive;
  font-size: 5.4em;

}


